table {
    border-collapse: collapse;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    position: relative;
}

tr:hover {
    background-color: rgba(187, 187, 187, 0.60)
}

td:hover::after {
    background-color: rgba(187, 187, 187, 0.30);
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.green {
	background-color: var(--color-primary);
	color: white;
	text-align: center;
	cursor: pointer;
}

.green.red {
	background-color: var(--color-secondary);
}