<!DOCTYPE html>
<html lang="en">
<table style="table-layout: fixed;">
    <tr>
        <td colspan="4">
            {% if first_year!=current_year %}
                <button onclick="window.location.href = '/fof-scorigami/html/{{ current_year-1 }}.html';">last game </button>
            {% endif %}
        </td>
        <td colspan="{{ highest_score - 6 }}"></td>
        <td colspan="4">
            {% if last_year!=current_year %}
                <button onclick="window.location.href = '/fof-scorigami/html/{{ current_year+1 }}.html';">next game</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        {% for higher_score in range(highest_score + 1) %}
        <th style="width: 18px;">
            {{ higher_score }}
        </th>
        {% endfor %}
    </tr>
    {% for lower_score in range(highest_score + 1) %}
    {% set inner_dict = scores.get(lower_score, {}) %}
        <tr>
            {% for higher_score in range(highest_score + 1) %}
                    {% if higher_score in inner_dict %}
                        {% if inner_dict[higher_score] == current_year %}
                            <td style="background-color: red; " />
                        {% elif inner_dict[higher_score] < current_year %}
                            <td style="background-color: green; " />
                        {% else %}
                            <td style="background-color: white; " />
                        {% endif %}
                    {% elif lower_score > higher_score %}
                        <td style="background-color: black;" />
                    {% else %}
                        <td style="background-color: white; " />
                    {% endif %}
            {% endfor %}
            <th>
                {{ lower_score }}
            </th>
        </tr>
    {% endfor %}
</table>
</html>