<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/styles.css">

<script>
// When the user clicks on <div>, open the popup
function myFunction(popup_id, game_info) {
  popup = document.getElementById(popup_id);
  summary = `${game_info.year}-${game_info.week_str}<br/>${game_info.winning_team} ${game_info.winning_score}<br/>${game_info.losing_team} ${game_info.losing_score}`
  game_str = `${game_info.year}${game_info.week}${game_info.away_team_id}${game_info.home_team_id}`
  box_html = `http://therzb.com/RZB/leaguehtml/box${game_str}.html`
  log_html = `http://therzb.com/RZB/leaguehtml/log{game_str}.html`
  occurrences = `Occurrences: ${game_info.occurrences}`
  popup.innerHTML = `${summary}<br/>${occurrences}<br/><a href=${box_html}>Box Score</a><br/><a href=${log_html}>Game Log</a>`;
  popup.classList.toggle("show");
}
</script>

<table style="table-layout: fixed;">
    <tr>
        <td colspan="4">
            {% if first_year!=current_year %}
                <button onclick="window.location.href = '/fof-scorigami/html/{{ current_year-1 }}.html';">last game </button>
            {% endif %}
        </td>
        <td colspan="{{ highest_score - 6 }}"></td>
        <td colspan="4">
            {% if last_year!=current_year %}
                <button onclick="window.location.href = '/fof-scorigami/html/{{ current_year+1 }}.html';">next game</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        {% for higher_score in range(highest_score + 1) %}
        <th>
            {{ higher_score }}
        </th>
        {% endfor %}
    </tr>
    {% for lower_score in range(highest_score + 1) %}
    {% set inner_dict = scores.get(lower_score, {}) %}
        <tr>
            {% for higher_score in range(highest_score + 1) %}
                    {% if higher_score in inner_dict %}
                        {% set game_info = inner_dict[higher_score] %}
                        {% set popup_id = (game_info.year * 1000) + game_info.id %}
                        {% if game_info.year == current_year %}
                            <td class="popup" onclick="myFunction({{ popup_id }}, {{ game_info }})" style="background-color: red; " >
                                <span class="popuptext" id="{{ popup_id }}">Popup text...</span>
                            </td>
                        {% elif game_info.year < current_year %}
                            <td class="popup" onclick="myFunction({{ popup_id }}, {{ game_info }})" style="background-color: green; " >
                                <span class="popuptext" id="{{ popup_id }}">{{ popup_id }}</span>
                            </td>
                        {% else %}
                            <td />
                        {% endif %}
                    {% elif lower_score > higher_score %}
                        <td style="background-color: black;" />
                    {% else %}
                        <td />
                    {% endif %}
            {% endfor %}
            <th>
                {{ lower_score }}
            </th>
        </tr>
    {% endfor %}
</table>
</html>